* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  padding: 30px;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  text-transform: uppercase;
  font-size: xx-large;
  text-align: center;
}

.label {
  text-transform: uppercase;
  font-size: small;
}
